:root{
    /*Font*/
    --primary-font: "Roboto",
        sans-serif;
    --secodary-font: 'Raleway',
        sans-serif;
    /*Colors*/
    --body-bg: #FFFFFF;
    --body-cl: #434455;
    --logo-cl: #4D5AE5;
    --logo-heading-cl: #2E2F42;
    /*Others*/
}



/*Common styles*/
body{
    font-family: Roboto, sans-serif;
    background-color: var(--body-bg);
    color: var(--body-cl)
  
}
/*Reset*/
.link a{
    text-decoration: none;
}
.list ul ol{
    list-style: none
}
/**
  |============================
  | Top Line
  |============================
*/

.topline-logo {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--logo-cl)
}

.logo-studio{
    color: var(--logo-heading-cl);
  
}

.topline-link{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;

}
.topline-link:hover, .topline-link:focus {
         color: #404BBF;
}


.topline-connexion-link{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;

}
.topline-connexion-tel{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.topline-connexion-link:hover, .topline-connexion-link:focus {
    color: #404BBF;
}

/**
  |============================
  | Hero Section
  |============================
*/
.hero {
    background-color: black;
}

.hero-heading {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #FFFFFF;
}

.hero-btm {
        cursor: pointer;
        background: #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #FFFFFF;
}
.hero-btm:hover, .hero-btm:focus{
    background: #4D5AE5;
}
.hero-btm:active{
    background: #404BBF;

}


/**
  |============================
  | Feature Section
  |============================
*/

.feature-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.feature-desc {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/**
  |============================
  | Doing Section
  |============================
*/

.doing-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2E2F42;
}


/**
  |============================
  | Team Section
  |============================
*/

.team-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.team-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.team-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/**
  |============================
  | Footer
  |============================
*/
.footer{
    background-color: black;
}
.footer-logo {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #F4F4FD;
}

.footer-logo-web{
    color: #4D5AE5;
}

.foter-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}
/**
  |============================
  | Portfolio Button Block
  |============================
*/


.portf-btm-active {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        cursor: pointer;
        background: #404BBF;

}

.portf-btm-filter {
    background: #F4F4FD;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            text-align: center;
            letter-spacing: 0.04em;
            color: #4D5AE5;
}
/**
  |============================
  | Portfolio Row
  |============================
*/


.row-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.row-text {
    font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
}
